div#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

section.repository-list {
    margin: 3rem;    
    border: 1rem solid  #a4b0be;
    padding: 4rem;
    border-radius: 0.8rem;

    h1  {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    ul {
        list-style: none;

        li {
            width: 40rem;
            border-bottom: 1px solid #a4b0be;
            padding-bottom: 20px;

            & + li {
                margin-top: 20px;                
            }

            p {
                font-size: 14px;
                color: #a4b0be;
                margin-top: 8px;
            }

            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #1e8fffda;
            }
        }
    }
}